.hero-header{
    display: flex;
    position: relative;
    top: -80px;
    z-index: 0;
    overflow: hidden;
    flex-direction: row;
    @media screen and (max-width:768px){
        flex-direction: column;
    }
    &-left{
        flex:42.5%;
        order:1;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        min-width: 450px;
        @media screen and (max-width:768px){
            order: 2;
            min-width: auto;
            flex:100%;
            position: relative;
            top: -70px;
        }
        &-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0 4% 0 22%;
        color:transparent;
        @media screen and (max-width:992px){
            padding-left: 10%;
        }
        @media screen and (max-width:768px){
            padding: 5% 5%;
            align-items: center;
            text-align: center;
        }
            .hero-header-heading{
                color:$dark-blue;
                font-size:2.8rem;
                font-weight: 400;
            }
            .hero-header-desc{
                margin: 30px 0px 35px;
                font-weight: 300;
                color:$grayish-blue;
                font-size:1.2rem;
                line-height: 1.5;
            }
            .header-btn{
                @include button-bg($bg-linear);
                font-size: 1rem;

            }
        }
        
    }
    &-right{
        flex:57.5%;
        order:2;
        @media screen and (max-width:768px){
            order: 1;
            flex:100%;
        }
        .hero-header-intro{
            background-image: url('../../assets/images/bg-intro-desktop.svg');
            background-position: bottom left;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: -160px;
            right:-10px;
            height: 106%;
            @media screen and (max-width:768px){
                background-position:center;
                top:-70px;
                left: 0;
                background-size: 170%;
            }
            .hero-header-image{
                position: relative;
                right: -130px;
                top: 120px;
                z-index:3;
                min-width: 100%;
                @media screen and (max-width:768px){
                    width: 100%;
                    height: auto;
                    right: 0;
                    top: 30px;
                }
            }
        }
    }
}
