@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:18px;
    @media screen and (max-width:1440px){
        font-size:17px
    }
    @media screen and (max-width:992px){
        font-size:16px;
    }
    @media screen and (max-width:768px){
        font-size:15px;
    }
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    font-family: 'Public Sans', sans-serif;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

h1{font-size: 2.8rem;}
h2{font-size: 2.2rem;}
h3{font-size: 1.5rem}
h4{font-size:1.2rem}
h5{font-size:1rem}
h6{font-size:0.8rem}